<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MOon</a>
        </div>

        <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-7" aria-expanded="true">
            <ul class="nav navbar-nav">
                <% if(user){%>
                    <li><a href="/art/add">发表文章</a></li>
                    <li><a href="/art/list">文章列表</a></li>
                    <li><a href="/user/signout">退出</a></li>
                <%}else{%>
                    <li class="active"><a href="/user/signup">注册</a></li>
                    <li><a href="/user/signin">登录</a></li>
                <%}%>
            </ul>
            <% if(user){%>
                <ul class="nav navbar-nav pull-right" >
                    <li class="active">
                        <a href="/user/signup" style="height:50px;padding: 0" >
                            <img style="height:100%" src='<%=user.avatar%>' alt="">
                        </a>
                    </li>
                    <li><a href="/user/signin"><%=user.username%></a></li>
                </ul>
            <%}%>
        </div>
    </div>
</nav>

<% if(success){ %>
    <div class="alert alert-success">
        <%=success%>
    </div>
<% }%>

<% if(error){ %>
<div class="alert alert-danger">
    <%=error%>
</div>
<% }%>