<%- include ../include/header.html%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><%=article.artTitle%></div>
                <div class="panel-body">
                    <p><img class="media-object avatar " style="width: 100px;height:100px;" src="<%=article.author.avatar%>" alt="<%=article.author.author%>"></p>
                    <p><%=article.artContent%></p>
                    <p>作者:<%=article.author.username%>|发表时间<%=article.time.toLocaleString()%></p>
                </div>
                <div class="panel-footer">
                    <a href="/art/delete/<%=article._id%>" class="btn btn-info">删除</a>
                    <a href="/art/update/<%=article._id%>" class="btn btn-info">修改</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../include/footer.html%>